snippet zupfnoter.target
	"^:${1:target}"

snippet zupfnoter.goto
	"^@${1:target}@${2:distance}"

snippet zupfnoter.annotationref
	"^#${1:target}"

snippet zupfnoter.annotation
	"^!${1:text}@${2:x_offset},${3:y_offset}"

snippet zupfnoter.draggable
	"[r:${1:text}]"





